.side_menu {
	width: 300px;
	height: 100vh;
	min-height: 500px;
	position: fixed;
	top: 0;
	left: 0;
	transition: all 0.2s linear;
	z-index: 20;
}

.side_menu.active {
	left: 0;
}

.side_menu .nav-link {
	font-size: 1.2rem;
	color: rgb(28, 29, 31);
}

.side_menu .nav-item svg {
	margin-right: 0.4rem;
	font-size: 1.6rem;
	padding: 0.3rem;
	border-radius: 50%;
	color: white;
	background-color: rgb(0, 153, 255);
}

@media (max-width: 1200px) {
	.side_menu {
		left: -300px;
	}
}
