body {
}

svg {
	display: inline-block;
}

/* MAIN CONTAINER */
.main_container {
	width: calc(100% - 300px);
	float: right;
	transition: all 0.2s linear;
}

/* UTILS */
.container {
	width: 100%;
	max-width: 1300px;
	padding: 0px 1rem;
	margin: auto;
}

/* LOADING SPINNER */
.spinner_container {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* ACTIVE USER CLASS */
.active_user {
	@apply bg-primary-300;
}

@media (max-width: 1200px) {
	.main_container {
		width: 100%;
	}
}
